body {
  margin: 0;
  line-height: 1.5;
  text-transform: uppercase;
  background-color: #79B9C6;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: white;
  border-style: solid;
}
h1 {
  margin: 0 auto;
  font-size: 100px;
  font-weight: bold;
}
h3 {
  font-weight: bold;
}

#border{
  padding: 5px 5px 5px 5px;
  margin: 0 auto;
  width: 160px;
  border-style: solid;
  border-width: medium;
  border-color: white;
}


