p {
    text-align: center;
}

#nav {
    height: 2%;
    float: right;
    width: 100%;
    background-color: grey;
}

#left {
    margin-top: 1em;
    margin-bottom: 10em;
    padding: 20em 0;
    float: left;
    width: 50%;
    background-color: blue;
}

#right {
    margin-top: 1em;
    margin-bottom: 10em;
    padding: 20em 0;
    float: right;
    width: 25%;
    background-color: red;
}

#footer {
    position: fixed;
    bottom: 0;
    float: right;
    width: 100%;
    background-color: green;
}